body{
    /* background-color: red; */
}
.top-container {
    /* border:5px solid red; */
    background-color: #412567;
    display :flex;
    justify-content: space-around;
    align-items: center;
}
.top-left{
    background-color: #412567;
    /* background: linear-gradient(90deg, var(--bg-start), var(--bg-end)); */
}
.top-left h3{
    color: #FFFFFF;
    font-size: 16px;
}
.colors{
    /* color: linear-gradient(90deg,  #F7E93F 0%, #FB09B4 51%,#9100F8 100%); */
    color:red;
}
.top-mid{
    font-size: 16px;
}
.menu-links{
    display: flex;
    gap:18px;
}
.menu-icon{
    /* display: none; */
    font-size: 28px;
}
.top-mid ul li{
    list-style-type: none;
}
.top-mid ul li a{
    text-decoration: none;
    color:#FFFFFF;
}
.btn{
    background: linear-gradient(90deg,  #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
}
#hero{
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-top{
    padding-top: 121px;
    width: 100%;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff0080, #7928ca, #ffcc00);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 340px;
}

.mic {
  width: 70px;
  height: auto;
}

.hero-container-mid h3{
    font-size: 60px;
    font-weight: 900;
    color:#FFFFFF;
    margin-top: 20px;
    text-align: center;
}
.hero-container-mid p{
    font-size: 16px;
    color:#FFFFFF;
    text-align: center;
    
}
.hero-container-foot{
    padding-bottom: 30px;
}
.btn1{
     background: linear-gradient(90deg,  #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
}
#podcast{
    max-width:1600px;
    /* border: 1px solid red; */
    padding-top: 30px;
}
.podcast-container{
    
    /* background-color:#412667 ; */
}
.podcast-top h1{
    color:#FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.podcast-top p{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30px;
}
.para{
    text-align: center;
}
.podcast-bottom{
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    /* border:1px solid red; */
    text-align: center;
}
.card h2{
    text-align: center;
    color: #00FF88;
    font-weight: bold;
}
.card p{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

@media screen and  (max-width: 576px) {
   .menu-links{
    display: none;
   }
   .btn{
    display: none;
   }
   .menu-icon{
     display: block !important;
   }
   .circle {
    width: 220px;
    height: 220px;
    margin: auto;
  }

  .btn1 {
    margin:auto;
    margin-top: 20px;
  }
  .hero-container-mid p,h3{
    margin: auto;
  }
}
@media screen and (min-width: 576px) and (max-width:992px) {

  .menu-icon{
    display: none;
}
}
@media screen and (max-width: 993px) {
   .menu-icon{
    display: none;
}
  
}