body{
    /* background-color: red; */
}
.top-container {
    /* border:5px solid red; */
    background-color: #412567;
    display :flex;
    justify-content: space-around;
    align-items: center;
}
.top-left{
    background-color: #412567;
    /* background: linear-gradient(90deg, var(--bg-start), var(--bg-end)); */
}
.top-left h3{
    color: #FFFFFF;
    font-size: 16px;
}
.colors{
    /* color: linear-gradient(90deg,  #F7E93F 0%, #FB09B4 51%,#9100F8 100%); */
    color:red;
}
.top-mid{
    font-size: 16px;
}
.menu-links{
    display: flex;
    gap:18px;
}
.menu-icon{
    /* display: none; */
    font-size: 28px;
}
.top-mid ul li{
    list-style-type: none;
}
.top-mid ul li a{
    text-decoration: none;
    color:#FFFFFF;
}
.btn{
    background: linear-gradient(90deg,  #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
}
@media screen and  (max-width: 576px) {
   .menu-links{
    display: none;
   }
   .btn{
    display: none;
   }
   .menu-icon{
     display: block !important;
   }
  
}
@media screen and (min-width: 576px) and (max-width:992px) {

  .menu-icon{
    display: none;
}
}
@media screen and (max-width: 993px) {
   .menu-icon{
    display: none;
}
  
}