body{
  margin: 0;
  padding: 0;
  background-color: #412567; /* same purple */

}
.top-container {
    /* border:5px solid red; */
    background-color: #412567;
    display :flex;
    justify-content: space-around;
    align-items: center;
}
.top-left{
    background-color: #412567;
    /* background: linear-gradient(90deg, var(--bg-start), var(--bg-end)); */
}
.top-left h3{
    color: #FFFFFF;
    font-size: 16px;
}
.colors{
    /* color: linear-gradient(90deg,  #F7E93F 0%, #FB09B4 51%,#9100F8 100%); */
    color:red;
}
.top-mid{
    font-size: 16px;
}
.menu-links{
    display: flex;
    gap:18px;
}
.menu-icon{
    /* display: none; */
    font-size: 28px;
}
.top-mid ul li{
    list-style-type: none;
}
.top-mid ul li a{
    text-decoration: none;
    color:#FFFFFF;
}
.btn{
    background: linear-gradient(90deg,  #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
}
#hero{
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-top{
    padding-top: 121px;
    width: 100%;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff0080, #7928ca, #ffcc00);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 340px;
}

.mic {
  width: 70px;
  height: auto;
}

.hero-container-mid h3{
    font-size: 60px;
    font-weight: 900;
    color:#FFFFFF;
    margin-top: 20px;
    text-align: center;
}
.hero-container-mid p{
    font-size: 16px;
    color:#FFFFFF;
    text-align: center;
    
}
.hero-container-foot{
    padding-bottom: 30px;
}
.btn1{
     background: linear-gradient(90deg,  #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
}
#podcast{
    max-width:1600px;
}
.podcast-top h1{
    color:#FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
     padding-top: 30px;
     margin-top: 0;
}
.podcast-top p{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30px;
}
.para{
    text-align: center;
}
.podcast-bottom{
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    text-align: center;
}
.card h2{
    text-align: center;
    color: #00FF88;
    font-weight: bold;
}
.card p{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

#items{
    background-color: #412567;
    /* border: 1px solid red; */
}
#items h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top:30px ;
}
.item-container-top{
    display: flex;
    gap:50px;
}
.item{
    /* border:1px solid red; */
    border-radius: 10px;
    background-color: #412557;
}
.item1{
    padding:56px;
    max-width: 380px;
    margin-left: 30px;
    padding-bottom: 30px;
}
.item2{
    max-width: 700px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.item3{
    max-width: 700px;
    margin-right: 30px;
    padding-bottom: 20px;
}
.item img {
    width: 60px;
    height: 60px;
     margin-left: 30px;
     margin-top:30px ;
}
.item h3{
  font-size: 24px;
  font-weight: bold;
  color:#FFFFFF;
  margin-left: 20px;
  margin-bottom: 0px;
}
.item p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0px 30px 0 30px;
}
.item-container-bottom{
    display: flex;
    gap: 30px;
}
.item4{
    width:780px;
    margin-top:40px;
    margin-left:30px ;
}
.item5{
    width:300px;
    margin-top:40px;
    margin-right: 30px;
}
#feature{
    max-width: 1600px;
    /* border:1px solid red; */
}
#feature h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.feature-container-top{
    /* border:1px solid red; */
    display: flex;
   
}
.box{
    width:380px;
    /* border:1px solid red; */
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #412557;
}
.box iframe{
    width:100%;
    height: 150px;
    border-radius: 20px;
}
.box h5{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 25px;
}
.box p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 25px;
    margin-bottom: 5px;
}
.box span{
 color:#00FF88;
 margin-left: 25px;
}
.feature-container-bottom{
    display: flex;
    /* border:1px solid red; */
    border-radius: 20px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
     background-color: #412557;
     margin-left: 30px;
}
.feature-container-bottom-left img{
  margin-left: 25px;
  margin-right: 25px;
}
.feature-container-bottom-right h3{
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
}
.feature-container-bottom-right p{
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}
.icon{
    margin-left: 25px;
}
.icon img{
    border-radius: 25px solid red;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:20px;
    height:20px;
}

.footer {
  padding: 60px 20px;
  text-align: center;
  background-color: #412557;
  margin-top: 30px;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-logo {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  color:#FFFFFF;
}

.footer-logo span {
  background: linear-gradient(135deg, #ff3cac, #784ba0, #2b86c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-socials a {
  color: #bfb6ff;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #00ffcc;
}

.footer-text {
  font-size: 0.85rem;
  color: #FFFFFF;
}


@media screen and  (max-width: 576px) {
   .menu-links{
    display: none;
   }
   .btn{
    display: none;
   }
   .menu-icon{
     display: block !important;
   }
   .circle {
    width: 220px;
    height: 220px;
    margin: auto;
  }

  .feature-container-bottom-right h3{
    text-align: center;
  }
  .icon{
    align-items: center;
  }
  .btn1 {
    margin:auto;
    margin-top: 20px;
  }
  .hero-container-mid p,h3{
    margin: auto;
  }
  .podcast-top{
    margin:auto;
  }
  .podcast-bottom {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .item-container{
    flex-direction: row;
    margin: auto;
  }
  .feature-container-bottom {
    flex-direction: column;
  }
  .feature-container-bottom img{
    margin-top: 30px;
  }
  .feature-container-bottom h3, p{
    margin:auto;
  }
}
@media screen and (min-width: 576px) and (max-width:992px) {

  .menu-icon{
    display: none;
}
}
@media screen and (max-width: 993px) {
   .menu-icon{
    display: none;
}
  
}